doctype html
html
    head
      meta(charset='UTF-8')
      title= title
      style
        include ../public/css/style.css
      script(src='/js/script.js' defer)
    body(style={background: 'transparent'})
    block content
