doctype html
html
    head
      meta(charset='UTF-8')
      title= title
      style
        include ../public/css/style.css
      script(src='/js/script.js' defer)
      script(src='/js/checkPlayerData.js')
    body
    block content
